# db connection string to the data shape server database
DB_URL=postgres://DBUSER:DBPASSWORD@DBHOST:5432/DBNAME

# db schema name where the data schema is located
DB_SCHEMA=my_schema_name

# generated schema namespace
RDF_SCHEMA_NS=http://schema.vq.app/

# path to class mapping .csv file
CLASS_MAPPINGS=ClassMappings.csv

# path to link mapping .csv file
LINK_MAPPINGS=LinkMappings.csv

# output file name
OUTPUT_FILE=generated.nt

# directory for separate generated rdf files
RDF_FILES=GeneratedRDF

# delimiter used to separate values in one line
CSV_FILE_DELIMITER=,

